<h1 class="ms-4 mt-4">Stupid Coaching</h1>
<form action="answer" method="get" class="ms-4">
  <input type="text" name="question" value="<%= params[:question] %>" class="form-text">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
